<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>22E252</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>EIE: E+Play</string>
	<key>CFBundleExecutable</key>
	<string>CopyMaster</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.efsg.eiehktrading.ios.sit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CopyMaster</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneSimulator</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>emp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>eunify.eiehk.sit</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>20E238</string>
	<key>DTPlatformName</key>
	<string>iphonesimulator</string>
	<key>DTPlatformVersion</key>
	<string>16.4</string>
	<key>DTSDKBuild</key>
	<string>20E238</string>
	<key>DTSDKName</key>
	<string>iphonesimulator16.4</string>
	<key>DTXcode</key>
	<string>1431</string>
	<key>DTXcodeBuild</key>
	<string>14E300c</string>
	<key>FacebookAppID</key>
	<string>764528362387465</string>
	<key>FacebookClientToken</key>
	<string>0e5b4f12f639927f6813870034fc1e54</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>CopyMaster would like to use your camera to take photos and upload documents.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Enabling Face ID / Touch ID allows you quick and secure access to your account.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Time to record a video</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This allows you to edit, save and share the photos.　</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This allows you to browse and select which photo to upload.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Your data will be used to create a customized experience tailored to your interests.</string>
	<key>TSKConfiguration</key>
	<dict>
		<key>TSKPinnedDomains</key>
		<dict>
			<key>m-finance.net</key>
			<dict>
				<key>TSKEnforcePinning</key>
				<true/>
				<key>TSKIncludeSubdomains</key>
				<true/>
				<key>TSKPublicKeyAlgorithms</key>
				<array>
					<string>TSKAlgorithmRsa2048</string>
				</array>
				<key>TSKPublicKeyHashes</key>
				<array>
					<string>oYQ5xsgKUUxSFxkR8nrDAArUyEBApzjlFJlE8URN5Gg=</string>
					<string>8Rw90Ej3Ttt8RRkrg+WYDS9n7IS03bk5bjP/UXPtaY8=</string>
					<string>Ko8tivDrEjiY90yGasP6ZpBU4jwXvHqVvQI0GS3GNdA=</string>
					<string>VjLZe/p3W/PJnd6lL8JVNBCGQBZynFLdZSTIqcO0SJ8=</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>montserrat_black.ttf</string>
		<string>montserrat_light.ttf</string>
		<string>montserrat_blackitalic.ttf</string>
		<string>montserrat_lightitalic.ttf</string>
		<string>montserrat_bold.ttf</string>
		<string>montserrat_medium.ttf</string>
		<string>montserrat_bolditalic.ttf</string>
		<string>montserrat_mediumitalic.ttf</string>
		<string>montserrat_extrabold.ttf</string>
		<string>montserrat_regular.ttf</string>
		<string>montserrat_extrabolditalic.ttf</string>
		<string>montserrat_semibold.ttf</string>
		<string>montserrat_extralight.ttf</string>
		<string>montserrat_semibolditalic.ttf</string>
		<string>montserrat_extralightitalic.ttf</string>
		<string>montserrat_thin.ttf</string>
		<string>montserrat_italic.ttf</string>
		<string>montserrat_thinitalic.ttf</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>firebase_json_raw</key>
	<string>e30=</string>
</dict>
</plist>
